#node-form fieldset.collapsed {display:none;}
#node-form #edit-cellphone {width:211px;}
#node-form #edit-dealerid {width:211px;}
ul.tabs.primary {display:none;}
div.teaser-button-wrapper {display:none;}