div#storeloc_log {width:600px;height:500px;overflow:auto;position:relative;background-color:#FFFFFF;color:#000000;border:2px inset #000000;padding: 2px;}
div#storeloc_stats {font-weight:bold;margin-bottom:8px;}
div.storeloc_item {}
div.storeloc_details {margin-left:15px;}
table.storeloc_tbl {border:0;}
img.storeloc_plus {cursor:pointer;border:0;}