.node-type-store.section-node-edit fieldset.collapsed {display:none;}
.node-type-store.section-node-edit div.body-field-wrapper {display:none;}
div#edit-locations-0-delete-location-wrapper {display:none;}